<!DOCTYPE html>
<html>
<head>
    <title>Learn Java - From Beginner to Pro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Contact Learn Java</h1>
            <p>Have questions, suggestions, or feedback? We would love to hear from you. Get in touch with our team using the contact details provided below:</p>
        </section>

        <section>
            <h2>Contact Information</h2>
            <ul>
                <li>Email: info@learnjava.com</li>
                <li>Phone: +1 444 443 555</li>
            </ul>
        </section>

        <section>
            <h2>Support and Assistance</h2>
            <p>If you need any technical support or assistance while using our platform, please reach out to our support team. They are available to help you and answer any questions you may have.</p>
        </section>
    </main>

</body>
</html>
